* {
    box-sizing: border-box;
}

img#logo {
    height: 1.5em;
    vertical-align: middle;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a span {
    vertical-align: middle;
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

div#kereses {
    flex-grow: 1;
    border: 2px solid black;
    border-radius: 20px;
    justify-content: space-between;
    display: flex;
    height: 40px;
    box-sizing: border-box;
    padding: 0.5em;
}

#kereses button {
    background-color: white;
    border: none;
    border-radius: 20px;
    float: right;
}

#kereses input {
    border: none;
    outline: none;
    border-radius: 20px;   
}

div#belepes {
    /* border: 2px solid red; */
    height: 40px;
    display: flex;
    align-items: center;
    gap: 1px;
}

#belepes a {
    padding: 10px;
    height: 40px;
    box-sizing: border-box; /* a magasságba beleszámít a padding és a border is */
    background-color: rgb(82, 174, 48);
    display: flex;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
}

#belepes button {
    height: 40px;
    border: none;
    background-color: rgb(82, 174, 48);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#belepes img {
    height: 20px;
}